---
layout: default
title: Compiler Jobs
---
<h1>Jobs</h1>

<h2>Accepting applications</h2>
<ul>
    {% for job in site.jobs %}
    {% if job.open %}
    <li><a href="{{ job.url }}">{{ job.title }}</a></li>
    {% endif %}
    {% endfor %}

</ul>

<h2>Past opportunities</h2>
<ul>
    {% for job in site.jobs %}
    {% if job.open != true %}
    <li><a href="{{ job.url }}">{{ job.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<p>
    Missed a past opportunity? Please <a href="mailto:careers@compiler.la">send us your resume</a> as we are always looking for great candidates.
</p>
