---
layout: default
title: Jobs with Compiler
---
<h1>Jobs</h1>

<h2">Accepting applications</h2>
{% assign open_jobs = site.jobs | where: "open", "true" %}
{% if open_jobs.size > 0 %}
<ul>
    {% for job in open_jobs %}
    <li><a href="{{ job.url }}">{{ job.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>There are no positions accepting applications at the moment.</p>
{% endif %}

<h2>Past opportunities</h2>
<ul class="mx-3">
    {% for job in site.jobs %}
    {% if job.open != true %}
    <li><a href="{{ job.url }}">{{ job.title }}</a></li>
    {% endif %}
    {% endfor %}
</ul>

<p class="mb-5">
    Missed a past opportunity? <a href="http://eepurl.com/h6qTKL">Subscribe</a> to our mailing list, as we are always
    looking for great candidates.
</p>
