<nav class="navbar navbar-dark">
    <a href="/"><img class="logo" src="/assets/compiler_logo_stacked.svg" alt="Compiler logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#navbarToggler"
        aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="modal fade" tabindex="-1" id="navbarToggler">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-column align-items-start justify-content-center menu-links">
                        <ul class="no-bullets">
                            <li>
                                <a href="/jobs" class="monospace menu-link">Jobs</a>
                            </li>
                            <li>
                                <a href="/capabilities" class="monospace menu-link">Capabilities Statement</a>
                            </li>
                            <li>
                                <a href="/contact" class="monospace menu-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="nav-footer-pattern"></div>
                </div>
            </div>
        </div>
    </div>
</nav>
