<!DOCTYPE html>
<html lang="en">

<head>
    {% assign title = layout.title_prefix | append: " " | append: page.title %}
    <title>{{ title | default: "Compiler"}} </title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link type="text/css" rel="stylesheet" href={{ layout.stylesheet | default: "styles/base.css" }}>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2JY7J1TEN2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2JY7J1TEN2');
    </script>
</head>

<body>
    {{ content }}
</body>

</html>
