---
layout: default
description: We build open-source, human-centered, secure, agile solutions to support the delivery of government services that increase equity of opportunity.
---

<section class="row position-relative">
    <div class="container">
        <div class="offset-lg-1 col-lg-7 py-5 my-5 py-md-0 my-md-0">
            <span class="pill">About Us</span>
            <h1 class="mt-4 mb-3">We make government services accessible for all</h1>
            <p class="mb-4 text-white">At Compiler we’re dedicated to building open-source, human-centered, secure, solutions to support the delivery of government services that increase equity of opportunity.</p>
            <a class="btn btn-primary mb-4 mb-md-0" target="_blank" href="/capabilities">Read our Capabilities Statement</a>
        </div>
        <span class="animate-bus">
            <img alt="Illustration of a bus" src="/assets/illustrations/bus.svg">
        </span>
    </div>
</section>

<section class="bg-w-100 position-relative bg-white">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <div class="row py-md-3">
        <div class="container my-5 py-md-5 py-4">
            <div class="offset-lg-1 col-lg-10 mb-md-4">
                <span class="text-dark pill border-0 ps-0 pb-md-5 mb-md-3 pb-4 mb-3 d-inline-block">What we’ve been up to</span>
                <h2 class="text-dark mb-4">Recent work</h2>
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <span class="h4 d-inline-block mb-2 mt-3 mt-md-0 text-dark">Customer Success strategy</span>
                        <p class="text-dark">Implemented new Customer Success program for California Integrated Travel Project (Cal-ITP)</p>
                    </div>
                    <div class="col-12 col-lg-4">
                        <span class="h4 d-inline-block mb-2 mt-3 mt-md-0 text-dark">Benefits application</span>
                        <p class="text-dark">Developed <a href="https://benefits.calitp.org" target="_blank">Cal-ITP Benefits</a>, a digital tool allowing transit riders to verify their eligibility for a reduced fare and attach the discount to their bank card, so they automatically get their discount when tapping-to-pay.</p>
                    </div>
                    <div class="col-12 col-lg-4">
                        <span class="h4 d-inline-block mb-2 mt-3 mt-md-0 text-dark">Open data standards</span>
                        <p class="text-dark">Convened the <a target="_blank" href="https://ods.calitp.org/">Operational Data Standards (ODS)</a> working group and drafted ODS v1. Drafted the <a target="_blank" href="https://www.interoperablemobility.org/">Mobility Data Interoperability Prinicpals (MDIP)</a>, a public sector-led coalition to build support for interoperable technology in the mobility industry.</p>
                    </div>
                </div>
            </div>
            <span class="animate-bike">
                <img alt="Illustration of a bicycle" src="/assets/illustrations/bicycle.svg">
            </span>
        </div>
    </div>
</section>

<section class="bg-w-100">
    <hr class="border border-100 border-black border-half opacity-100 mb-1">
    <hr class="border border-100 border-black border-half opacity-100 mb-1">
    <hr class="border border-100 border-black border-half opacity-100 mb-1">
    <hr class="border border-100 border-black border-half opacity-100 mb-1">
    <hr class="border border-100 border-black border-half opacity-100 mb-1">
    <hr class="border border-100 border-black border-half opacity-100 mb-1">
    <hr class="border border-100 border-black border-half opacity-100 mb-1">
    <div class="row">
        <div class="container my-5 py-4 py-md-5">
            <div class="row my-md-4 py-md-2">
                <div class="offset-lg-1 col-lg-10">
                    <span class="text-white pill border-0 ps-0 pb-md-5 mb-md-3 pb-4 mb-3 d-inline-block">Our philosophy</span>
                </div>
                <div class="offset-lg-1 col-lg-5">
                    <h2 class="text-white mb-3 mb-md-4">Empower government workers</h2>
                    <p class="mb-4 pb-2">Through service design, human-centered policy, and intentional technology choices, we make government services equitable and accessible for all.</p>
                </div>
                <div class="offset-lg-1 col-lg-5">
                    <ul class="ps-0">
                        <li class="list-circle mb-0 h4 fs-6">First and always inclusive</li>
                        <li class="list-circle mb-0 h4 fs-6">Be excellent to each other</li>
                        <li class="list-circle mb-0 h4 fs-6">Focus on frontline workers</li>
                        <li class="list-circle mb-0 h4 fs-6">Open and honest engagement</li>
                        <li class="list-circle mb-0 h4 fs-6">Public services built to last</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-w-100 bg-success">
    <div class="row">
        <div class="container my-5 py-5">
            <div class="offset-lg-2 col-lg-8 mt-md-4 text-center">
                <span class="text-dark pill border-0 d-inline-block px-0 pb-4 mb-3">Testimonial</span>
            </div>
            <div class="offset-lg-2 col-lg-8 mb-md-4 text-center">
                <h2 class="text-dark">Compiler is a world-class team and an excellent choice for software development services.</h2>
                <h3 class="fs-6 fw-normal sans-serif text-dark d-block mt-3">—Jeremy Dalton, VP Mobility Xentrans and Technical Project Manager for Cal-ITP</h3>
            </div>
        </div>
    </div>
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
    <hr class="border border-100 border-dark border-half opacity-100 mb-1">
</section>

<section class="row">
    <div class="container mt-5 pt-5">
        <div class="offset-lg-1 col-lg-8">
            <span class="text-white pill border-0 ps-0 pb-md-5 mb-md-3 pb-4 mb-3 d-inline-block">Who we are</span>
            <h2 class="text-white mb-2">Meet the team</h2>
            <span class="text-white">We’re a small team of remote workers who believe and advocate for better public services</span>
        </div>
        <div class="row">
            <div class="container">
                <div class="offset-lg-1 col-lg-10 pt-md-4 mt-md-3 pt-4">
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5">
                        {% for member in site.data.team %}
                            <div class="team-member">
                                <div class="bg-white rounded">
                                    <img
                                        class="img-fluid d-block mx-auto"
                                        src="/assets/team_members/{{ member.image }}"
                                        alt="Watercolor illustration of {{member.name}}">
                                </div>
                                <h3 class="h4 pt-3 mb-1 d-inline-block text-white">{{ member.name }}</h3>
                                <p class="fs-7 text-white">{{ member.title }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
          <div class="row pb-5">
            <dig class="offset-lg-1 col-lg-2">
                <a class="btn btn-primary btn-collapse" href="#" data-bs-toggle="collapse" data-bs-target=".collapseMore" role="button" aria-expanded="false" aria-label="Toggle team members" aria-controls="collapseMore"></a>
            </dig>
          </div>
          <div class="row border-top border-light mt-3 mt-lg-5">
            <p class="monospace fw-bold fs-8 text-uppercase text-center text-lg-start text-info offset-lg-1 my-2">Team illustrations by <a class="fw-bold" href="https://www.instagram.com/worksofharte/" target="_blank">@worksofharte</a></p>
          </div>
    </div>
</section>

<section class="bg-w-100 bg-white">
    <div class="row">
        {% include ready-to-work.html h3-class="text-dark" %}
    </div>
</section>

<script>
    const randomizeTeam = function() {
        // get an array of all team members
        let members = [...document.querySelectorAll(".team-member")];
        let currentIndex = members.length;
        // and shuffle
        while (currentIndex != 0) {
            let shuffleIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;
            [members[currentIndex], members[shuffleIndex]] = [members[shuffleIndex], members[currentIndex]];
        }
        // then override the flex order with new shuffled index
        // hiding all but the first 5
        members.forEach((m, i) => {
            m.style.order = i;
            if (i > 4) {
                m.classList.add("collapse", "collapseMore");
            }
        })
    };

    randomizeTeam();
</script>
