@import url("./fonts.css");

:root {
    --purple: #663190;
    --green: #88B440;
    --teal: #01B4CB;
    --navy: #223061;
    --off-black: #262626;
    --black: #000000;
    --grey: #EDEDED;
    --white: #FFFFFF;
    --bs-light-rgb: 84, 84, 84;
    --bs-secondary-rgb: 190, 190, 190;
    --bs-font-sans-serif: "Roboto, system-ui,-apple-system,"Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"";
    --bs-font-monospace: "Source Code Pro Bold",monospace;
}

body {
    background-color: var(--off-black);
    color: var(--white);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

p,
li {
    line-height: 140%;
}

a {
    color: var(--white);
    text-decoration: underline;
    transition: 250ms;
}

a:hover,
a:focus {
    color: var(--green);
}

/*#region Font Family */

.monospace,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
    font-family: var(--bs-font-monospace);
}

.sans-serif {
    font-family: var(--bs-font-sans-serif);
}

/*#endregion */

/*#region Headers */

:root {
    --h1-font-size: calc(40rem / 16);
    --h1-font-weight: 700;
    --h1-line-height: 120%;
    --h2-font-size: calc(32rem / 16);
    --h2-font-weight: 700;
    --h2-line-height: 120%;
    --h3-font-size: calc(24rem / 16);
    --h3-font-weight: 700;
    --h3-line-height: 120%;
    --h4-font-size: calc(16rem / 16);
    --h4-font-weight: 800;
    --h4-line-height: 120%;
    --h5-font-size: calc(16rem / 16);
    --h5-font-weight: 500;
    --h5-line-height: 120%;
}

@media (min-width: 992px) {
    :root {
        --h1-font-size: calc(48rem / 16);
        --h1-font-weight: 800;
        --h1-line-height: 110%;
        --h2-font-size: calc(40rem / 16);
        --h2-font-weight: 700;
        --h2-line-height: 120%;
        --h3-font-size: calc(32rem / 16);
        --h3-font-weight: 700;
        --h3-line-height: 120%;
        --h4-font-size: calc(16rem / 16);
        --h4-font-weight: 800;
        --h4-line-height: 130%;
        --h5-font-size: calc(16rem / 16);
        --h5-font-weight: 500;
        --h5-line-height: 120%;
    }
}

h1,
.h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--h1-font-weight);
    line-height: var(--h1-line-height);
    margin: 0;
}

h2,
.h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    line-height: var(--h2-line-height);
    margin-top: 0;
    margin-bottom: 1rem;
}

h3,
.h3,
.posting h2 {
    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    line-height: var(--h3-line-height);
    margin-top: 0;
    margin-bottom: 1rem;
}

h4,
.h4 {
    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    line-height: var(--h4-line-height);}

h5,
.h5 {
    font-family: var(--bs-font-sans-serif);
    font-size: var(--h5-font-size);
    font-weight: var(--h5-font-weight);
    line-height: var(--h5-line-height);
}

/*#endregion */

/*#region Font Sizes */

:root {
    --title-font-size: 1.75rem;
    --button-text-font-size: 1.25rem;
}

@media (min-width: 992px) {
    :root {
        --title-font-size: 2rem;
        --button-text-font-size: 1.5rem;
    }
}

.lg-link {
    font-size: var(--title-font-size);
}

.btn-link {
    font-size: var(--button-text-font-size);
}

.primary-btn {
    text-decoration: none;
    border: 3px solid var(--green);
    background-color: var(--green);
    color: var(--off-black);
    padding: 1rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

.primary-btn:hover {
    opacity: 70%;
    color: var(--black)
}

.secondary-btn {
    text-decoration: none;
    border: 3px solid var(--green);
    color: var(--white);
    padding: 1rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

.secondary-btn:hover {
    opacity: 70%;
    color: var(--black);
    background-color: var(--green);
}

/* Header */

header {
    padding: 13px 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
}

@media (min-width: 992px) {
    header {
        padding: 13px 24px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
    }
}

.logo {
    width: calc(88rem / 16);
}

/* Footer */

footer .h4 {
    color: var(--teal);
}

footer .contact-link {
    color: var(--green);
}

.social-media-icon {
    transition: 250ms;
    width: calc(24rem / 16);
}

.social-media-icon:hover,
.social-media-icon:focus {
    opacity: 100% !important;
}

.brandmark {
    width: 136.898px;
}

@media (min-width: 992px) {
    .brandmark {
        width: 181.676px;
    }
}

/* Home Page */

.index {
    margin: 102px 0 90px 0;
}

@media (min-width: 992px) {
    .index {
        margin: 168px 0 145px 0;
    }
}

/* Job Posting Page */

:root {
    --posting-margin: 102px 0 96px 0;
}

@media (min-width: 992px) {
    :root {
        --posting-margin: 135px 0 104px 0;
    }
}
.posting main {
    margin: var(--posting-margin);
}

.posting h2 {
    margin-top: 40px;
}
