@import url("./fonts.css");

:root {
    --purple: #663190;
    --green: #88B440;
    --teal: #01B4CB;
    --navy: #223061;
    --off-black: #262626;
    --black: #000000;
    --grey: #EDEDED;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;

    padding: 30px;
    background-color: var(--off-black);

    color: var(--white);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: normal;
}



p,
li {
    line-height: 1.5rem;
}

a {
    color: var(--white);
    text-decoration: underline;
    transition: 250ms;
}

a:hover,
a:focus {
    color: var(--green);
}

ul.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: inherit 0 0;
}

li.certs {
    padding-bottom: 0.75rem;
}

.monospace,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Code Pro Bold', 'Courier New', Courier, monospace;
}

.san-serif {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.title-lg {
    font-size: 2rem;
}

.text-lg {
    font-size: 1.5rem;
}

.primary-btn {
    text-decoration: none;
    border: 3px solid var(--green);
    background-color: var(--green);
    color: var(--off-black);
    padding: 1rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

.primary-btn:hover {
    opacity: 70%;
    color: var(--black)
}

.secondary-btn {
    text-decoration: none;
    border: 3px solid var(--green);
    color: var(--white);
    padding: 1rem;
    margin-right: 15px;
    margin-bottom: 10px;
}

.secondary-btn:hover {
    opacity: 70%;
    color: var(--black);
    background-color: var(--green);
}

header {
    margin-left: -10px;
    /* account for padding within the Compiler logo*/
}

.logo {
    width: 20rem;
}

main {
    flex: 1 0 auto;
}

.divider-line {
    border-top: 1px solid #545454;
    margin: 125px -30px 0px;
}

footer {
    flex-shrink: 0;
}

footer .heading {
    font-size: 1.5rem;
    color: var(--teal);
    margin: 0;
}

footer .contact-link {
    font-size: 1.125rem;
    color: var(--green);
    margin: 0;
}

footer .address {
    margin-top: 24px;
}

.social-media-icon {
    opacity: 40%;
    margin: 0 24px;
    width: 3rem;
    transition: 250ms;
}

.social-media-container a:first-child .social-media-icon {
    margin-left: 0px;
}

.social-media-icon:hover,
.social-media-icon:focus {
    opacity: 100%;
}

.brandmark {
    width: 17.5rem;
    margin-right: -15px;
    margin-left: auto;
}

/***** Media Queries *****/

/* - with default font 16px, 48rem = 768px */
@media (max-width: 48rem) {
    body {
        padding: 16px;
    }

    header {
        margin-left: -5px;
    }

    .logo {
        width: 15rem;
    }

    .title-lg {
        font-size: 1.75rem;
    }

    .text-lg {
        font-size: 1.25rem;
    }

    .divider-line {
        margin: 120px -16px -75px;
    }

    footer .certs {
        flex-direction: column;
    }

    footer .certs>div {
        margin: 48px 0 0;
        padding: 0;
    }

    ul.no-bullets li {
        margin: 16px 0;
    }

    .social-media-icon {
        margin: 0 12px;
        width: calc(28rem / 16);
    }

    .brandmark {
        width: 8rem;
    }
}

@media (max-height: 30rem) {
    .logo {
        width: 15rem;
    }

    .title-lg {
        font-size: 1.75rem;
    }

    .text-lg {
        font-size: 1.25rem;
    }
}
